
<div class="table-responsive">
	<table class="table">
	<thead>
		<th>Institute</th>
		<th>Courses</th>
		<th>Duration</th>
		<th>Fee</th>
		<% if current_user && current_user.user_type == "Institute" %>
		<th>Actions</th>
		<%end%>
	</thead>
	<tbody>
		<%@lists.each do |list|%>
		<tr>
			<td><%=list.institute%></td>
			<td><%=list.course%></td>
			<td><%=list.duration%></td>
			<td><%=list.fee%></td>
			<% if current_user && current_user.user_type == "Institute" %>
			<td>
				<%=link_to "Edit", edit_list_path(list)%> | <%= link_to "Delete", list_path(list), data:{:confirm=>"Are you sure?"}, :method => :delete%>
			</td>
			<%end%>
		</tr>
		<%end%>
	</tbody>
	
		
	</table>
</div>